<!DOCTYPE html>
<html lang="en">

<head>
    
     <%- include('./partials/head') %>

</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-register-registro">    
       
		<form class="row card shadow mx-auto p-3" style="width: 27rem;" method="post" 
		action="/auth/registro">
			<div class="img-logo mx-auto" style="width: 15rem;">
				<img src="/images/default-avatar.jpg" class="rounded-circle" alt="avatar">
			</div>
			<h3 class="card-title text-center">Registro de usuario</h3>
			<div class="mb-3">
				<label class="form-label">Email</label>
				<input type="text" class="form-control" name="email" value="<%= locals.old?.email %>" autocomplete="off">
				<% if (!locals.errors) { %>
					<div class="form-text">Ingresar el email para registrarte</div>
				<% } else { %>
					<div class="form-text fs-5 text-danger"><%= errors?.email?.msg %></div>
				<% }  %>
			</div>
			<div class="mb-3">
				<label class="form-label">Contraseña</label>
				<input type="password" class="form-control" name="password" value="<%= locals.old?.password %>">
				<% if (locals.errors) { %>
					<div class="form-text fs-5 text-danger"><%= errors?.password?.msg %></div>
				<% } %>
			</div>
	
			<button type="submit" class="btn btn-primary py-3">Registrar</button>
        <!-- <form class="form-registre" action="/" method="POST" >
            <div class="div-general-registre">
            <h2 class="subtitulo">Registrate</h2>
            <div class="div_imput_conten">
                    <div class="inputs-user-email">
                        <i  id="iUser" class="fa-solid fa-user"></i> 
                        <input class="input-registre <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                        value="<%= locals.loadData ? loadData.name : null %>" name="name" required>
                        <% if (!locals.errors) { %>
                            <div class="form-text">Ingresar el nombre completo</div>
                            <% } else { %>
                                <div class="form-text fs-5 text-danger"><%= errors?.name?.msg %></div>
                                <% }  %>
                                
                                <i id="ienvelope-resgistre" class=" fa-solid fa-envelope"></i>
                        <input class="input-registre" type="email" placeholder="E-mail" name="email" required>
                        <% if (!locals.errors) { %>
                            <div class="form-text">Ingresar el email correcto</div>
                            <% } else { %>
                                <div class="form-text fs-5 text-danger"><%= errors?.email?.msg %></div>
                                <% }  %>
                    </div>  
            
                    <div class="div-key-registre">
                    <i id="ikey-registre" class="fa-solid fa-key"></i>
                    <input class="key-registre" type="Password" placeholder="Password" name="Password" required>
                  
            
                <div class="div-key-registre">
                <i id="ikey-registre" class="fa-solid fa-key"></i>
                <input class="key-registre" type="Password" placeholder="Password" name="Password" required>
               
                </div>
            
                <div class="boton-registre">
                <butoon class="usuario-boton-registre " type="submit" href="/">INGRESAR</butoon>
                </div>
            </div>
            <marquee class="bienvenido" behavior="" direction="">BIENVENIDOS A QUAMTUM PC</marquee>
            </div> -->
        </form>
        

    </main>
    <%- include('./partials/footer') %>
</body>

</html>