<% products.forEach(p=> { %>
    <% if (p.id) { %>
        <div class="product-list-item">
            <div>
                <img src="/images/productos/<%= p.image %>" alt="">
            </div>
            <div class="list-container">
                <ul>
                    <li>ID: <%= p.id %>
                    </li>
                    <li>Nombre: <%= p.name %>
                    </li>
                    <li>Categoría: <%= p.category %>
                    </li>
                    <li>Precio: $<%=toThousand(p.price) %>
                    </li>
                </ul>
                <div class="button-group">
                    <a href="/products/productDetail">Detalle</a>
                    <a href="/admin/editar-producto/:id<%= p.id %>">Editar</a>
                    <form action="/admin/eliminar-producto/<%= p.id %>?_method=DELETE" method="post"
                        enctype="multipart/form-data">
                        <button type="submit" class="">Eliminar</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% }) %>